<div class="row main-div-style">
    <div class="sub-div-style">
        <button mat-icon-button aria-label="arrow_circle_left" class="button-style" (click)="BackToMain()">
            <mat-icon class="back-button-style" >arrow_circle_left</mat-icon>
        </button><br>
        <span class="show-name" *ngIf="SingleShowData?.name">{{SingleShowData?.name}}</span><br />
        <div class="show-details">
            <span><mat-icon aria-hidden="false" aria-label="star"
                   class="gold-icon" >star</mat-icon><b> IMDB Show Rating: </b>{{+ SingleShowData?.rating?.average + "/10"}}</span>
            <br><br>
            <span><b>Runtime:</b> {{SingleShowData?.runtime + " minutes"}}</span><br><br>
            <span><b>Network: </b>{{SingleShowData?.network?.name}} | <b>Language:</b> {{SingleShowData?.language}} |<b>Status:</b> 
                {{SingleShowData?.status}}</span>
            <p><span><b> Genre:</b>
                    <div *ngFor="let genre of SingleShowData?.genres">{{genre}}</div>
                </span>
        </div>
        <span id="title-summary"><b>Summary:</b></span>
        <p class="summary">{{SingleShowData?.summary}}</p>
    </div>
    <div class="img-style">
        <img mat-card-image class="image" src={{SingleShowData?.image?.medium}} alt="Photo of a Shiba Inu">
    </div>
</div>